# ignore all
*
# but not ignore dirs
!*/
# also not ignore all with extensions
!*.*
# also not ignore Makefile
!Makefile
# but ignore editor's backup file
*~
# also ignore vim swap file
*.swp
# also ignore object, archive, shared-object file
*.o
*.a
*.so
*.so.*
# also ignore a.out
a.out
# also ignore assemblee source
*.s
